extends ../shared/template
block content
  h2.browse Peruse the Farm!
  .row
    .col-xs-1
    .col-xs-10
      #map
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-2
      #attributes
        h3.attributes Filter Users By:
        ul.attributes
          li Age
          li Sex
          li Location
          li Height
          li Body Type
      #species
        h3.species Select Species:
        ul.species
          li Dog
          li Cat
          li Mouse
          li Pony
          li Brony
          li Lizard
          li Fox
          li Dinosaur
          li Wolf
          li Seal
          li Bird
          li Fish
          li Penguin
          li Raccoon
          li GROOT
    .col-xs-8
      table#sort.sort.table(style='background-color: white;', data-user-lat=user.loc.lat, data-user-lng=user.loc.lng, data-user-name=user.loc.name)
        thead
          tr
            th.sort-header Username
            th.sort-header Age
            th.sort-header Sex
            th.sort-header Species
            th.sort-header Location
            th.sort-header Height
            th.sort-header Body Type
        tbody
          each user in users
            tr(data-name=user.loc.name, data-lat=user.loc.lat, data-lng=user.loc.lng)
              td: a(href='/users/#{user._id}')= user.username
              td= user.age
              td= user.sex
              td= user.species
              td= user.loc.name
              td= user.height
              td= user.bodyType
    .col-xs-1

block scripts
  script(src='/js/user/main.js')
  script(src='/js/vendor/tablesort.min.js')
  script(src='/js/user/tablesort.js')

