extends ../shared/template
block content
  h2 Edit Profile
  .row
    .col-xs-12
      form#editProfileForm(role='form', method='post', action='/users/edit')
        .row
          .col-xs-1
          .col-xs-4
            input(type='hidden', name='_method', value='put')
            input#lat(type='hidden', name='loc[lat]')
            input#lng(type='hidden', name='loc[lng]')
            .form-group
              label(for='name') Display Name:
              input.form-control#name(type='text', name='name', value=(user.username || 'name?'), autofocus=true)
            .form-group
              label(for='species') Species:
                select(name='species')
                  option(value='Dog') Dog
                  option(value='Cat') Cat
                  option(value='Mouse') Mouse
                  option(value='Horse') Horse
                  option(value='Brony') Brony
                  option(value='Lizard') Lizard
                  option(value='Fox') Fox
                  option(value='Dinosaur') Dinosaur
                  option(value='Wolf') Wolf
                  option(value='Seal') Seal
                  option(value='Bird') Bird
                  option(value='Fish') Fish
                  option(value='Penguin') Penguin
                  option(value='Racoon') Racoon
                  option(value='GROOT') GROOT
                  option(value='Other') Other
            .form-group
              label Sex:
                select(name='sex')
                  option(value='Male') Male
                  option(value='Female') Female
            .form-group
              label Kids?:
                select(name='kids')
                  option(value='Yes') Yes
                  option(value='No') No
                  option(value='Maybe') Maybe
                  option(value='I love kids!') I love kids!
            .form-group
              label Smoker?:
                select(name='smoker')
                  option(value='no') No
                  option(value='yes') Yes
            .form-group
              label(for='locName') Location:
              input.form-control#locName(type='text', name='loc[name]', value=(user.loc.name || 'location?'))
            .form-group
              label(for='email') Email:
              input.form-control#email(type='email', name='email', value=(user.email || 'email?'))
            .form-group
              label(for='age') Age:
              input.form-control#age(type='text', name='age', value=(user.age || 'age?' ))
            .form-group
              label(for='tagline') Tagline:
              input.form-control#tagline(type='text', name='tagline', value=(user.tagline || 'tag line?'))
          .col-xs-1
          .col-xs-4
              .row
                .col-xs-12
                    .header2 Primary Photo
                    #editPrimary(style='background-image: url(#{user.primaryPhoto})')
                    .header2 Other Photos
                    .photoDiv
                      each photo in user.photos
                        .profilePhotos.thumbnail(style='background-image:url(#{photo});')
          .col-xs-2
        .row
          .col-xs-5
          .col-xs-1
            .radio
              label
                input(type='radio' name='visible' value='public' checked=user.isVisible)
                span Public
          .col-xs-1
            .radio
              label
                input(type='radio' name='visible' value='private', checked=!user.isVisible)
                span Private
          .col-xs-5
            button.btn.btn-primary(type='submit') Submit

  .row
    .col-xs-6
    .col-xs-5
      form#uploadPhotos(method='post', action='/users/edit/photo', enctype='multipart/form-data')
          .form-group
             label(for='photos') Photos
             input.form-control#photos(type='file', name='photos', multiple=true)
          button.btn.btn-success(type='submit') Upload Photos
    .col-xs-1

block scripts
  script(src='/js/user/editProfile.js')

